
.navbar {
    background-color: #EAA78A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-item {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* home page circles */
.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff;
    text-align: center;
    background: rgb(37, 37, 37);
    display: inline-block;
    margin-right: 40px;
    word-wrap: break-word;
    
  }

.mr-3 {
    height: 200px;
    width: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* about us page */
.header {
    padding: 40px;
    text-align: center;
    background: white;
    color:#EAA78A;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.our-desc{
    text-align: center;
    background-color:#EAA78A;
    color: white;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#name-desc {
    border: 5px solid;
    margin: auto;
    padding: 70px;
    color:grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-us{
    font-style: oblique;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* login page */
.login{
    margin-top: 100px;
    padding: 25px;
    border:5px solid grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit{
    background-color:white;
    transition-duration:.4s;
    border-color: #EAA78A;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit:hover{
    background-color: #EAA78A;
    border-color: #EAA78A;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Vaccination Page */
#vacc-desc {
    border: 5px solid;
    margin: auto;
    padding: 20px;
    color:grey;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.vacc-add {
    padding: 5px;
    margin: auto;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.vacc-add:hover {
    background-color: grey;
    transition-duration: .4s;
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pets Page */
.pet-add {
    padding: 5px;
    margin: auto;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.pet-add:hover {
    background-color: grey;
    transition-duration: .4s;
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pet-desc {
    border: 5px solid;
    margin: auto;
    padding: 20px;
    color:grey;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

/* Medications Page */
.med-add {
    padding: 5px;
    margin: auto;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.med-add:hover {
    background-color: grey;
    transition-duration: .4s;
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#med-desc {
    border: 5px solid;
    margin: auto;
    padding: 20px;
    color:grey;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

/* Account Page */
.profile-add {
    padding: 5px;
    margin: auto;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-add:hover {
    background-color: grey;
    transition-duration: .4s;
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#profile-desc {
    border: 5px solid;
    margin: auto;
    padding: 20px;
    color:grey;
    text-align: left;
    margin-right: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    color:dimgrey;
    padding-top: 15px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    background-color: #EAA78A;
    margin-bottom:10px;
}

.nav-link:hover {
    color:black;
}

.activated {
    color:black;
}